@model IEnumerable<tfzr_rsok_autosalon.Viewmodels.CarModelsViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CAR MODELS</h1>

<p>
    <a asp-action="Create" type="button" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Manufacturer</th>
        <th>Category</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Model.Name
            </td>

            <td>
                @item.Model.Manufacturer.Name
            </td>

            <td>
                @item.Model.Category.Name
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Model.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Model.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Model.Id })
            </td>
        </tr>
    }
    </tbody>
</table>